USE [master]
GO
/****** Object:  Database [ManageRestaurant]    Script Date: 15/06/2022 12:49:51 CH ******/
CREATE DATABASE [ManageRestaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManageRestaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ManageRestaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManageRestaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ManageRestaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManageRestaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManageRestaurant]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID_CUSTOMER] [varchar](50) NOT NULL,
	[NAME_CUSTOMER] [nvarchar](50) NOT NULL,
	[SURNAME_CUSTOMER] [nvarchar](50) NOT NULL,
	[GENDER_CUSTOMER] [int] NULL,
	[DATE_CREATE] [date] NULL,
	[DATE_UPDATE] [date] NULL,
	[PHONE_CUSTOMER] [varchar](11) NULL,
	[MAIL_CUSTOMER] [varchar](max) NULL,
	[PASSWORD_CUSTOMER] [varchar](max) NULL,
	[ADDRESS_CUSTOMER] [nvarchar](max) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[POINT] [int] NULL,
	[TYPE_CUSTOMER] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEIPT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIPT](
	[ID_RECEIPT] [varchar](50) NOT NULL,
	[ID_VOUCHER] [varchar](50) NULL,
	[ID_CUSTOMER] [varchar](50) NULL,
	[ID_METHOD] [varchar](50) NULL,
	[DATE_CREATE] [date] NULL,
	[TOTAL_PRODUCT] [int] NULL,
	[TOTAL_PRICE] [int] NULL,
	[POINT] [int] NULL,
	[STATE_RECEIPT] [int] NULL,
	[ADDRESS_RECEIPT] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METHOD_PAY]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METHOD_PAY](
	[ID_METHOD] [varchar](50) NOT NULL,
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[DATE_CREATE] [date] NULL,
	[TYPE_METHOD] [varchar](50) NOT NULL,
	[NAME_METHOD] [nvarchar](50) NOT NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[ID_VOUCHER] [varchar](50) NOT NULL,
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[ID_PROMOTION] [varchar](50) NULL,
	[DATE_CREATE] [date] NULL,
	[DATE_START] [date] NULL,
	[DATE_END] [date] NULL,
	[TYPE_REDUCTION] [nvarchar](50) NULL,
	[TYPE_CUSTOMER] [nvarchar](50) NULL,
	[PERCENT_REDUCTION] [int] NULL,
	[AMOUNT_REDUCTION] [int] NULL,
	[QUANTITY_VOUCHER] [int] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VOUCHER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RECEIPT_FULL]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RECEIPT_FULL] AS
SELECT RC.*,VC.PERCENT_REDUCTION,VC.AMOUNT_REDUCTION ,CUS.ADDRESS_CUSTOMER,CUS.MAIL_CUSTOMER,CUS.NAME_CUSTOMER,CUS.SURNAME_CUSTOMER,CUS.PHONE_CUSTOMER,
MT.NAME_METHOD,MT.TYPE_METHOD
FROM RECEIPT AS RC left join VOUCHER 
AS VC on RC.ID_VOUCHER = VC.ID_VOUCHER ,
CUSTOMER AS CUS ,METHOD_PAY AS MT
WHERE RC.ID_CUSTOMER=CUS.ID_CUSTOMER
AND RC.ID_METHOD = MT.ID_METHOD
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID_PRODUCT] [varchar](50) NOT NULL,
	[ID_CATEGORY] [varchar](50) NOT NULL,
	[NAME_PRODUCT_EN] [nvarchar](50) NOT NULL,
	[NAME_PRODUCT_VN] [nvarchar](50) NOT NULL,
	[PRICE_PRODUCT] [int] NULL,
	[IMAGE_PRODUCT] [varchar](max) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_PRODUCT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PRODUCT](
	[ID_DETAIL] [varchar](50) NOT NULL,
	[ID_PRODUCT] [varchar](50) NOT NULL,
	[ID_INGREDIENT] [varchar](50) NOT NULL,
	[WEIGHT_DETAIL] [int] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[ID_INGREDIENT] [varchar](50) NOT NULL,
	[ID_SUPPLIER] [varchar](50) NULL,
	[NAME_INGREDIENT] [nvarchar](50) NOT NULL,
	[INVENTORY] [int] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INGREDIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RECIPE_JOIN]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RECIPE_JOIN]
AS
SELECT R.ID_DETAIL, R.ID_PRODUCT, R.ID_INGREDIENT, R.WEIGHT_DETAIL, R.FLAG_DEL, P.NAME_PRODUCT_EN, I.NAME_INGREDIENT
FROM     dbo.DETAIL_PRODUCT AS R INNER JOIN
                  dbo.PRODUCT AS P ON R.ID_PRODUCT = P.ID_PRODUCT INNER JOIN
                  dbo.INGREDIENT AS I ON R.ID_INGREDIENT = I.ID_INGREDIENT
WHERE  (R.FLAG_DEL = 0)
GO
/****** Object:  Table [dbo].[DETAIL_IMPORT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_IMPORT](
	[ID_DETAIL_IOG] [varchar](50) NOT NULL,
	[ID_IOG] [varchar](50) NOT NULL,
	[ID_INGREDIENT] [varchar](50) NOT NULL,
	[PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_IOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[IOGDETAIL_JOIN]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IOGDETAIL_JOIN] AS 
SELECT D.*,I.NAME_INGREDIENT
FROM DETAIL_IMPORT D, INGREDIENT I
WHERE D.ID_INGREDIENT=I.ID_INGREDIENT
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID_CATEGORY] [varchar](50) NOT NULL,
	[GROUP_CATEGORY] [nvarchar](100) NULL,
	[NAME_CATEGORY] [nvarchar](100) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_TYPE]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_TYPE](
	[TYPE_CUSTOMER] [nvarchar](50) NOT NULL,
	[NAME_TYPE] [nvarchar](50) NULL,
	[LEVEL_TYPE] [int] NULL,
	[POINT_MIN] [int] NULL,
	[POINT_MAX] [int] NULL,
	[POINT_RATE] [float] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_RECEIPT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_RECEIPT](
	[ID_DETAIL_RECEIPT] [varchar](50) NOT NULL,
	[ID_RECEIPT] [varchar](50) NOT NULL,
	[ID_PRODUCT] [varchar](50) NOT NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_USER]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_USER](
	[ID_GROUP] [varchar](50) NOT NULL,
	[ROLE_USER] [nvarchar](50) NOT NULL,
	[FLAG_DEL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_NEWS]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_NEWS](
	[ID_IMAGE] [varchar](50) NOT NULL,
	[ID_NEWS] [varchar](50) NOT NULL,
	[PATH_IMAGE] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IMAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORT]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT](
	[ID_IOG] [varchar](50) NOT NULL,
	[ID_SUPPLIER] [varchar](50) NULL,
	[USERNAME_STAFF] [varchar](50) NULL,
	[DATE_IOG] [date] NOT NULL,
	[TOTAL_PRICE] [int] NULL,
	[NOTE] [nvarchar](max) NULL,
	[FLAG_DEL] [int] NULL,
	[STATE_IMPORT] [int] NULL,
	[DATE_DELIVERY] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID_NEWS] [varchar](50) NOT NULL,
	[ID_PROMOTION] [varchar](50) NULL,
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[DATE_VISIBLE] [date] NULL,
	[DATE_HIDDEN] [date] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NEWS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[ID_PROMOTION] [varchar](50) NOT NULL,
	[NAME_PROMOTION] [varchar](max) NULL,
	[USERNAME_STAFF] [varchar](50) NULL,
	[DATE_CREATE] [date] NULL,
	[DATE_START] [date] NULL,
	[DATE_END] [date] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROMOTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[PASSWORD_STAFF] [varchar](50) NULL,
	[ID_GROUP] [varchar](50) NULL,
	[SURNAME_STAFF] [nvarchar](100) NULL,
	[NAME_STAFF] [nvarchar](100) NULL,
	[GENDER_STAFF] [int] NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[ADDRESS_STAFF] [nvarchar](max) NULL,
	[NUMBER_PHONE] [varchar](11) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME_STAFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 15/06/2022 12:49:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID_SUPPLIER] [varchar](50) NOT NULL,
	[NAME_SUPPLIER] [nvarchar](max) NULL,
	[PHONE_SUPPLIER] [varchar](11) NULL,
	[ADDRESS_SUPPLIER] [nvarchar](max) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUPPLIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_TYPE] FOREIGN KEY([TYPE_CUSTOMER])
REFERENCES [dbo].[CUSTOMER_TYPE] ([TYPE_CUSTOMER])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_TYPE]
GO
ALTER TABLE [dbo].[DETAIL_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORT_INGREDIENT] FOREIGN KEY([ID_INGREDIENT])
REFERENCES [dbo].[INGREDIENT] ([ID_INGREDIENT])
GO
ALTER TABLE [dbo].[DETAIL_IMPORT] CHECK CONSTRAINT [FK_DETAILIMPORT_INGREDIENT]
GO
ALTER TABLE [dbo].[DETAIL_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORT_IOG] FOREIGN KEY([ID_IOG])
REFERENCES [dbo].[IMPORT] ([ID_IOG])
GO
ALTER TABLE [dbo].[DETAIL_IMPORT] CHECK CONSTRAINT [FK_DETAILIMPORT_IOG]
GO
ALTER TABLE [dbo].[DETAIL_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILPRO_INGREDIENT] FOREIGN KEY([ID_INGREDIENT])
REFERENCES [dbo].[INGREDIENT] ([ID_INGREDIENT])
GO
ALTER TABLE [dbo].[DETAIL_PRODUCT] CHECK CONSTRAINT [FK_DETAILPRO_INGREDIENT]
GO
ALTER TABLE [dbo].[DETAIL_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILPRO_PRO] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[DETAIL_PRODUCT] CHECK CONSTRAINT [FK_DETAILPRO_PRO]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILRECEIPT_PRODUCT] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT] CHECK CONSTRAINT [FK_DETAILRECEIPT_PRODUCT]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILRECEIPT_RECEIPT] FOREIGN KEY([ID_RECEIPT])
REFERENCES [dbo].[RECEIPT] ([ID_RECEIPT])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT] CHECK CONSTRAINT [FK_DETAILRECEIPT_RECEIPT]
GO
ALTER TABLE [dbo].[IMAGE_NEWS]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_NEWS_NEWS] FOREIGN KEY([ID_NEWS])
REFERENCES [dbo].[NEWS] ([ID_NEWS])
GO
ALTER TABLE [dbo].[IMAGE_NEWS] CHECK CONSTRAINT [FK_IMAGE_NEWS_NEWS]
GO
ALTER TABLE [dbo].[IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_IOG_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[IMPORT] CHECK CONSTRAINT [FK_IOG_STAFF]
GO
ALTER TABLE [dbo].[IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_IOG_SUPPLIER] FOREIGN KEY([ID_SUPPLIER])
REFERENCES [dbo].[SUPPLIER] ([ID_SUPPLIER])
GO
ALTER TABLE [dbo].[IMPORT] CHECK CONSTRAINT [FK_IOG_SUPPLIER]
GO
ALTER TABLE [dbo].[METHOD_PAY]  WITH CHECK ADD  CONSTRAINT [FK_METHODPAY_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[METHOD_PAY] CHECK CONSTRAINT [FK_METHODPAY_STAFF]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_PROMO] FOREIGN KEY([ID_PROMOTION])
REFERENCES [dbo].[PROMOTION] ([ID_PROMOTION])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK_NEWS_PROMO]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK_NEWS_STAFF]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRO_CATE] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID_CATEGORY])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRO_CATE]
GO
ALTER TABLE [dbo].[PROMOTION]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORT_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[PROMOTION] CHECK CONSTRAINT [FK_DETAILIMPORT_STAFF]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID_CUSTOMER])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_CUSTOMER]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_METHOD] FOREIGN KEY([ID_METHOD])
REFERENCES [dbo].[METHOD_PAY] ([ID_METHOD])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_METHOD]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_VOUCHER] FOREIGN KEY([ID_VOUCHER])
REFERENCES [dbo].[VOUCHER] ([ID_VOUCHER])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_VOUCHER]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_GROUPUSER] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_USER] ([ID_GROUP])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_GROUPUSER]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_PROMO] FOREIGN KEY([ID_PROMOTION])
REFERENCES [dbo].[PROMOTION] ([ID_PROMOTION])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_PROMO]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_STAFF]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_TYPE] FOREIGN KEY([TYPE_CUSTOMER])
REFERENCES [dbo].[CUSTOMER_TYPE] ([TYPE_CUSTOMER])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_TYPE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "R"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 252
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "P"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 283
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "I"
            Begin Extent = 
               Top = 343
               Left = 48
               Bottom = 506
               Right = 275
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RECIPE_JOIN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RECIPE_JOIN'
GO
USE [master]
GO
