USE [master]
GO
/****** Object:  Database [ManageRestaurant]    Script Date: 13/05/2022 11:06:06 SA ******/
CREATE DATABASE [ManageRestaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManageRestaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ManageRestaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManageRestaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ManageRestaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManageRestaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManageRestaurant]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID_CUSTOMER] [varchar](50) NOT NULL,
	[NAME_CUSTOMER] [nvarchar](50) NOT NULL,
	[SURNAME_CUSTOMER] [nvarchar](50) NOT NULL,
	[GENDER_CUSTOMER] [int] NULL,
	[DATE_CREATE] [date] NULL,
	[DATE_UPDATE] [date] NULL,
	[PHONE_CUSTOMER] [varchar](11) NULL,
	[MAIL_CUSTOMER] [varchar](max) NULL,
	[PASSWORD_CUSTOMER] [varchar](50) NULL,
	[ADDRESS_CUSTOMER] [nvarchar](max) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[POINT] [int] NULL,
	[TYPE_CUSTOMER] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEIPT]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIPT](
	[ID_RECEIPT] [varchar](50) NOT NULL,
	[ID_VOUCHER] [varchar](50) NULL,
	[ID_CUSTOMER] [varchar](50) NULL,
	[ID_METHOD] [varchar](50) NULL,
	[DATE_CREATE] [date] NULL,
	[TOTAL_PRODUCT] [int] NULL,
	[TOTAL_PRICE] [int] NULL,
	[POINT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METHOD_PAY]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METHOD_PAY](
	[ID_METHOD] [varchar](50) NOT NULL,
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[DATE_CREATE] [date] NULL,
	[TYPE_METHOD] [varchar](50) NOT NULL,
	[NAME_METHOD] [nvarchar](50) NOT NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[ID_VOUCHER] [varchar](50) NOT NULL,
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[DATE_CREATE] [date] NULL,
	[DATE_START] [date] NULL,
	[DATE_END] [date] NULL,
	[TYPE_REDUCTION] [nvarchar](50) NULL,
	[PERCENT_REDUCTION] [int] NULL,
	[AMOUNT_REDUCTION] [int] NULL,
	[QUANTITY_VOUCHER] [int] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VOUCHER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RECEIPT_FULL]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RECEIPT_FULL] AS
SELECT RC.*,VC.PERCENT_REDUCTION,VC.AMOUNT_REDUCTION ,CUS.ADDRESS_CUSTOMER,CUS.MAIL_CUSTOMER,CUS.NAME_CUSTOMER,CUS.SURNAME_CUSTOMER,CUS.PHONE_CUSTOMER,
MT.NAME_METHOD,MT.TYPE_METHOD
FROM RECEIPT AS RC, VOUCHER AS VC,CUSTOMER AS CUS ,METHOD_PAY AS MT
WHERE RC.ID_VOUCHER = VC.ID_VOUCHER
AND RC.ID_CUSTOMER=CUS.ID_CUSTOMER
AND RC.ID_METHOD = MT.ID_METHOD
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID_CATEGORY] [varchar](50) NOT NULL,
	[GROUP_CATEGORY] [nvarchar](100) NULL,
	[NAME_CATEGORY] [nvarchar](100) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_IMPORT]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_IMPORT](
	[ID_DETAIL_IOG] [varchar](50) NOT NULL,
	[ID_IOG] [varchar](50) NOT NULL,
	[ID_MATERIAL] [varchar](50) NOT NULL,
	[ID_SUPPLIER] [varchar](50) NOT NULL,
	[PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_IOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_PRODUCT]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PRODUCT](
	[ID_DETAIL] [varchar](50) NOT NULL,
	[ID_PRODUCT] [varchar](50) NOT NULL,
	[ID_MATERIAL] [varchar](50) NOT NULL,
	[WEIGHT_DETAIL] [int] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_RECEIPT]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_RECEIPT](
	[ID_DETAIL_RECEIPT] [varchar](50) NOT NULL,
	[ID_RECEIPT] [varchar](50) NOT NULL,
	[ID_PRODUCT] [varchar](50) NOT NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_USER]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_USER](
	[ID_GROUP] [varchar](50) NOT NULL,
	[ROLE_USER] [nvarchar](50) NOT NULL,
	[FLAG_DEL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_NEWS]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_NEWS](
	[ID_IMAGE] [varchar](50) NOT NULL,
	[PATH_IMAGE] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IMAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORT]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT](
	[ID_IOG] [varchar](50) NOT NULL,
	[ID_SUPPLIER] [varchar](50) NULL,
	[USERNAME_STAFF] [varchar](50) NULL,
	[DATE_IOG] [date] NOT NULL,
	[TOTAL_PRICE] [int] NULL,
	[NOTE] [nvarchar](max) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[ID_MATERIAL] [varchar](50) NOT NULL,
	[ID_DETAIL] [varchar](50) NOT NULL,
	[NAME_MATERIAL] [nvarchar](50) NOT NULL,
	[INVENTORY] [int] NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID_NEWS] [varchar](50) NOT NULL,
	[ID_IMAGE] [varchar](50) NULL,
	[DATE_CREATE] [date] NOT NULL,
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[DATE_VISIBLE] [date] NULL,
	[DATE_HIDDEN] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NEWS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID_PRODUCT] [varchar](50) NOT NULL,
	[ID_CATEGORY] [varchar](50) NOT NULL,
	[NAME_PRODUCT_VN] [nvarchar](50) NOT NULL,
	[NAME_PRODUCT_EN] [nvarchar](50) NOT NULL,
	[PRICE_PRODUCT] [int] NULL,
	[IMAGE_PRODUCT] [varchar](max) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[USERNAME_STAFF] [varchar](50) NOT NULL,
	[PASSWORD_STAFF] [varchar](50) NULL,
	[ID_GROUP] [varchar](50) NULL,
	[SURNAME_STAFF] [nvarchar](100) NULL,
	[NAME_STAFF] [nvarchar](100) NULL,
	[GENDER_STAFF] [int] NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[ADDRESS_STAFF] [nvarchar](max) NULL,
	[NUMBER_PHONE] [varchar](11) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME_STAFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 13/05/2022 11:06:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID_SUPPLIER] [varchar](50) NOT NULL,
	[NAME_SUPPLIER] [nvarchar](max) NULL,
	[PHONE_SUPPLIER] [varchar](11) NULL,
	[ADDRESS_SUPPLIER] [nvarchar](max) NULL,
	[FLAG_DEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUPPLIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETAIL_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORT_IOG] FOREIGN KEY([ID_IOG])
REFERENCES [dbo].[IMPORT] ([ID_IOG])
GO
ALTER TABLE [dbo].[DETAIL_IMPORT] CHECK CONSTRAINT [FK_DETAILIMPORT_IOG]
GO
ALTER TABLE [dbo].[DETAIL_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORT_MATERIAL] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIAL] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[DETAIL_IMPORT] CHECK CONSTRAINT [FK_DETAILIMPORT_MATERIAL]
GO
ALTER TABLE [dbo].[DETAIL_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILPRO_PRO] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[DETAIL_PRODUCT] CHECK CONSTRAINT [FK_DETAILPRO_PRO]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILRECEIPT_PRODUCT] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT] CHECK CONSTRAINT [FK_DETAILRECEIPT_PRODUCT]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILRECEIPT_RECEIPT] FOREIGN KEY([ID_RECEIPT])
REFERENCES [dbo].[RECEIPT] ([ID_RECEIPT])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT] CHECK CONSTRAINT [FK_DETAILRECEIPT_RECEIPT]
GO
ALTER TABLE [dbo].[IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_IOG_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[IMPORT] CHECK CONSTRAINT [FK_IOG_STAFF]
GO
ALTER TABLE [dbo].[IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_IOG_SUPPLIER] FOREIGN KEY([ID_SUPPLIER])
REFERENCES [dbo].[SUPPLIER] ([ID_SUPPLIER])
GO
ALTER TABLE [dbo].[IMPORT] CHECK CONSTRAINT [FK_IOG_SUPPLIER]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_MRL_DETAILPRO] FOREIGN KEY([ID_DETAIL])
REFERENCES [dbo].[DETAIL_PRODUCT] ([ID_DETAIL])
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [FK_MRL_DETAILPRO]
GO
ALTER TABLE [dbo].[METHOD_PAY]  WITH CHECK ADD  CONSTRAINT [FK_METHODPAY_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[METHOD_PAY] CHECK CONSTRAINT [FK_METHODPAY_STAFF]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_IMG] FOREIGN KEY([ID_IMAGE])
REFERENCES [dbo].[IMAGE_NEWS] ([ID_IMAGE])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK_NEWS_IMG]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRO_CATE] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID_CATEGORY])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRO_CATE]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID_CUSTOMER])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_CUSTOMER]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_METHOD] FOREIGN KEY([ID_METHOD])
REFERENCES [dbo].[METHOD_PAY] ([ID_METHOD])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_METHOD]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_VOUCHER] FOREIGN KEY([ID_VOUCHER])
REFERENCES [dbo].[VOUCHER] ([ID_VOUCHER])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_VOUCHER]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_GROUPUSER] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_USER] ([ID_GROUP])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_GROUPUSER]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_STAFF] FOREIGN KEY([USERNAME_STAFF])
REFERENCES [dbo].[STAFF] ([USERNAME_STAFF])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_STAFF]
GO
USE [master]
GO
